.email-list {
    width: 100%;
    line-height: 2rem;
}

.email-list ul.mail li {
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-list a{
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.email-list .read{
    background-color: #c2dbff;
}

.star{
    border: 5px yellow solid;
}