.note-txt {
	max-width: 300px;
	background-color: rgb(237, 217, 217);
}

textarea {
	width: 100%;
	/* height: 60px; */
	padding: 15px;
	outline: none;
	resize: none;
	border-radius: 10px;
}
.note-container {
	border: 1px black solid;
	max-width: 300px;
	text-align: center;
}
.note-photo {
	width: fit-content;
	max-width: 300px;
}
.note-list-container {
	/* width: 10%; */
	display: flex;
	flex-direction: column;
}
* {
	border: 1px black solid;
	/* background-color: rgba(134, 207, 67, 0.37); */
	outline: 5px rgb(171, 36, 36) + solid;
}
