.note-txt {
	max-width: 300px;
	background-color: rgb(255, 255, 255);
}

textarea {
	width: 100%;
	padding: 15px;
	outline: none;
	resize: none;
	border: none;
	font-family: 'Comic Sans MS';
	border-radius: 10px;
}

.note-photo {
	max-width: 300px;
	max-height: 100%;
	object-fit: contain;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-auto-rows: minmax(min-content, min-content);
	grid-gap: 20px;
	padding: 3%;
}
.list > * {
	display: flex;
	justify-content: center;
}

.grid-cube {
}

.list * > button {
	display: inline-block;
	margin: 3px;
	border-radius: 4px;
	background-color: #b4b4b4;
	border: none;
	color: #0b0404;
	text-align: center;
	font-size: 1rem;
	padding: 0.3rem;
	transition: all 0ss;
	cursor: pointer;
	margin-bottom: 0.7em;
	margin-top: 0.25em;
}
.list * > input {
	width: 100%;
	font-size: 1rem;
	padding: 0.5em;
}
.buttons {
	display: flex;
}
