.note-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* max-width: 420px; */
	max-width: 500px;
	width: fit-content;
	text-align: center;
	height: fit-content;
	background-color: #85f218fd;
	border-radius: 15px;
	padding: 20px;
	padding-top: 20px;
	padding-left: 20px;
}

.note-container > * input {
	border: none;
	text-transform: capitalize;
	color: black;
	text-align: center;
}
.note-container > div {
	border: 1px solid black;
}

.note-container > * textarea {
	border: none;
}
.color-input ::before {
	font-family: fa-solid;
	content: '\f01c';
}

.actions-container button {
	background-color: aliceblue;
	padding: 0.5em;
	cursor: pointer;
}
.pined {
	background-color: rgb(217, 0, 0);
}
