
/* LAYOUTS*/
.main-layout{
    min-height: 95vh;
    background-color: rgb(255, 255, 255);
    
}


.email-container{
    display: flex;
    /* border: 1px red solid; */
    max-width: 100%;
    justify-content: flex-start;
    padding: 0 0.5rem;
}
